.login-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.login-card {
  width: 420px;
  padding: 24px;
}

.login-title {
  margin-bottom: 16px;
  font-size: 1.4rem;
  font-weight: 600;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
