<div class="cart-container">

  <h2 class="cart-title">Votre panier</h2>

  <div *ngIf="(items$ | async)?.length === 0" class="cart-empty">
    Votre panier est vide.
  </div>

  <div *ngFor="let item of (items$ | async)" class="cart-item">
    
    <div class="cart-item-header">
      <div class="cart-name">{{ item.name }}</div>
      <div class="cart-price">{{ item.price }} €</div>
    </div>

    <div class="cart-actions">

      <button class="qty-btn" (click)="decrease(item)">−</button>

      <span class="qty-number">{{ item.quantity }}</span>

      <button class="qty-btn" (click)="increase(item)">+</button>

      <button class="delete-btn" (click)="remove(item)">
        ❌ Supprimer
      </button>

    </div>
  </div>

  <div class="cart-total">
    Total : {{ total$ | async }} €
  </div>

<button class="checkout-btn" (click)="goToCheckout()">
  🛒 Valider la commande
</button>


</div>
